<% include ../partials/header %>
<div class="container text-center">
    <div class="row">
        <h1>Edit: <%=post.title %></h1>
        <div style='width:30%; margin:0 auto;'>
            <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                 <!--Title -->
                <div class='form-group'>
                    <input class="form-control" type="text" name="post[title]" value="<%=post.title%>" >
                </div>
                <!--Artist -->
                <div class='form-group'>
                    <input class="form-control" type="text" name="post[artist]" value="<%=post.artist%>" >
                </div>
                <!-- Album Art -->
                <div class='form-group'>
                    <input class="form-control" type="text" name="post[image]"  value="<%=post.image%>">
                </div>
                <!--Content Description -->
                <div class='form-group'>
                    <input class="form-control" type="text" name="post[description]"  value="<%=post.description%>">
                </div>
                <!--Content Embed -->
                <div class='form-group'>
                    <input class="form-control" type="text" name="post[embed]"  value="<%=post.embed%>">
                </div>
                <!--Update/Submit -->
                <div class='form-group'>
                  <button class="btn btn-lg btn-primary btn-block">Update</button>
                </div>
            </form>
        </div>

<a href="/posts">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>

