<% include ../partials/header %>
<div class="container text-center">
    <div class="row">
        <h1>Edit: <%=post.title %></h1>
        <div style='width:60%; margin:0 auto;'>
            <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                 <!--Title -->
                <div class='form-group'>
                    <label for="Title">Song Or Album:</label>
                    <input class="form-control" type="text" name="post[title]" value="<%=post.title%>" >
                </div>
                <!--Artist -->
                <div class='form-group'>
                    <label for="artist">Artist:</label>
                    <input class="form-control" type="text" name="post[artist]" value="<%=post.artist%>" >
                </div>
                <!-- Album Art -->
                <div class='form-group'>
                    <label for="IMG URL">Album Artwork URL:</label>
                    <input class="form-control" type="text" name="post[image]"  value="<%=post.image%>">
                </div>
                 <!--Tags Description -->
                <div class='form-group'>
                    <label for="Tags">Tags:</label>
                    <input class="form-control" type="text" name="post[tags]"  value="<%=post.tags%>">
                </div>
                <!--Content Description -->
                <div class='form-group'>
                    <label for="Description">Description:</label>
                    <textarea style="resize:none;" class="form-control" rows="5" type="text" name="post[description]"><%=post.description%></textarea>
                </div>
                
                <!--Content Embed -->
                <!--<div class='form-group'>-->
                <!--    <input class="form-control" type="text" name="post[embed]"  value="<%=post.embed%>">-->
                <!--</div>-->
                
                <% if(currentUser.isAdmin){ %>
                <!--Admin/Approve -->
                            
                    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                        <button class="btn btn-lg btn-success btn-block" type="text" name="post[status]"  value="true">Approve</button>
                    </form>
            

                <% }else{ %>
                <!--Update/Submit -->
                    <div class='form-group'>
                        <button class="btn btn-lg btn-primary btn-block">Update</button>
                    </div>
                <%}%>
            </form>
        </div>

<a href="/posts">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>

