<% include ../partials/header %>
<div class="container">
        <div class="row">
            
                <!-- Media -->
            <div class="col-md-3">
                <p class="lead">SongBird</p>
                <div class="list-group">
                    <div class="list-group-item"><a href="#">Spotify</a></div>
                    <div class="list-group-item"><a href="#">Youtube</a></div>
                </div>
            </div>
            
            
                <!-- POST CONTENT -->
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h2><%=post.title%></h2>
                        <img class="full-img" src="<%=post.image %>">
                           
                        
                        <div class="caption-full">
                  
                            <div class="text-center">
                                <h4><%=post.artist%></h4>
                                <p><%-post.description%></p>
                            </div>
                            
                            <p class="text-right">
                                <em>Submited by:</em><%= post.author.username %>
                            </p>
                            
                            <!--Tags-->
                            <div class="tag-container">
                                <p style="display:inline;">
                            <% for (i = 0; i < post.tags.length; ++i) { %>
                        
                            <a href="/posts/?search=<%=post.tags[i]%>">#<%=post.tags[i]%></a>
                            <% } %>
                            </p>
                            </div>
                        
                        </div>
                        
                    <!-- PUT CRUD BUTTONS -->
                    <% if(currentUser != undefined){ %>
                    <% console.log("User ID" + " = " + currentUser.id) %>
                    <% console.log("Post Author ID" + " = " + post.author.id) %>
                        <% if(currentUser.isAdmin || currentUser.id == post.author.id){ %>
                                    <div style="border:1px solid black;">
                                   <a class="btn btn-xs btn-warning" href="/posts/<%=post.id %>/edit">Edit</a>
                                   
                            <form class="delete-form" action="/posts/<%= post.id%>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger"?>Delete</button>
                            </form>
                        <% }%>
                   
                    <% } %>
                    
                        
                      
                </div>
                
                <!--COMMENTS-->
                <h1 style="text-align:center; padding-top:15px; border-top:2px solid grey;">COMMENTS</h1>
                <div class="well" style="margin:20px;">
               
                    <div class="text-right">
                        <a class="btn btn-success" href="/posts/<%= post.id%>/comments/new">Add Comment</a>
                    </div>
                    <% post.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-3">
                                <strong><%= comment.author.username %></strong>
                                <p>
                                    <%= comment.text %>
                                </p>
                                
                        <% if(currentUser && comment.author.id.equals(currentUser.id) || currentUser && currentUser.isAdmin){ %>
                                
                                <a class="btn btn-xs btn-warning" 
                                href="/posts/<%=post.id%>/comments/<%=comment._id%>/edit">
                                    Edit</a>
                                <form class="delete-form"
                                action="/posts/<%= post.id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="delete">
                                </form>
                                
                            
                        <% } %>
                                
                            </div>
                        </div>
                    <% }) %>
                </div>
                </div>  
           
        </div>
        
        
    </div>
</div>


<% include ../partials/footer %>